PORT=4010
RELAY_SECRET=
SSODAA_API_URL=https://apis.ssodaa.com/kakao/send/alimtalk
SSODAA_SENT_LIST_URL=https://apis.ssodaa.com/kakao/alimtalk/sent/list
SSODAA_API_KEY=
SSODAA_TOKEN_KEY=
SSODAA_SENDER_KEY=
ALIMTALK_TEMPLATE_BOOKING_RECEIVED=
ALIMTALK_TEMPLATE_BOOKING_CONFIRMED=
ALIMTALK_TEMPLATE_BOOKING_REJECTED=
ALIMTALK_TEMPLATE_BOOKING_CANCELLED=
ALIMTALK_TEMPLATE_BOOKING_RESCHEDULED_CONFIRMED=
ALIMTALK_TEMPLATE_APPOINTMENT_REMINDER_10M=
ALIMTALK_TEMPLATE_GROOMING_STARTED=
ALIMTALK_TEMPLATE_GROOMING_ALMOST_DONE=
ALIMTALK_TEMPLATE_GROOMING_COMPLETED=
ALIMTALK_TEMPLATE_REVISIT_NOTICE=
ALIMTALK_TEMPLATE_BIRTHDAY_GREETING=
